.homeBodyWhenSideActive {
  //   background: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg")
  //     no-repeat;
  background: url("https://images.pexels.com/photos/1530212/pexels-photo-1530212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;

  height: 100%;
}

.sidebarBody {
}
