.homeBodyWhenSideActive {
  //   background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2288x1600/051bc7e3ce21fc3371498118d44cbe15/photo-1685392198162-c110bc28e838.jpg")
  //     no-repeat;
  background: url("https://images.pexels.com/photos/1530212/pexels-photo-1530212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.sidebarBody {
}
