.BoardBackground {
  width: 304px;
  border: 0.5px solid #373e46;
  border-radius: 10px;
  background: #282e33;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 120;
  color: #9aa7b6;
  box-shadow: 5px 0px 20px black;
  overflow-x: hidden;
  max-height: calc(100vh - 100px);

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;

    h4 {
      font-size: 14px;
      margin: 0;
    }

    i {
      position: absolute;
      right: 0;
      padding: 6px;
      border-radius: 3px;
      cursor: pointer;
    }

    i:hover {
      background: #444c53;
    }
  }

  .blocks {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .titleAndMore {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 5px;

      h4 {
        font-size: 16px;
        margin: 0;
      }

      .moreBtn {
        padding: 10px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        background: #323940;
        outline: none;
        color: #9aa7b6;
        cursor: pointer;
      }
      .moreBtn:hover {
        background: #626c75;
      }
    }

    .backgrounds {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0;

      div {
        height: 56px;
        margin: 4px;
        width: calc(33.3% - 8px);
        background: blueviolet;
        border-radius: 3px;
        position: relative;
        cursor: pointer;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #171b1f;
          font-size: 16px;
        }
      }
      .bg1 {
        background-color: rgb(34, 140, 213);
        background-image: url("https://trello.com/assets/707f35bc691220846678.svg");
      }
      .bg2 {
        background-color: rgb(11, 80, 175);
        background-image: url("https://trello.com/assets/d106776cb297f000b1f4.svg");
      }
      .bg3 {
        background-color: rgb(103, 66, 132);
        background-image: url("https://trello.com/assets/8ab3b35f3a786bb6cdac.svg");
      }
      .bg4 {
        background-color: rgb(168, 105, 193);
        background-image: url("https://trello.com/assets/a7c521b94eb153008f2d.svg");
      }
      .bg5 {
        background-color: rgb(239, 118, 58);
        background-image: url("https://trello.com/assets/aec98becb6d15a5fc95e.svg");
      }
      .bg12 {
        background-color: rgb(244, 136, 166);
        background-image: url("https://trello.com/assets/b75536d1afb40980ca57.svg");
      }

      .bg6 {
        background-image: url("https://images.unsplash.com/photo-1690369936917-0da2f88a8e40?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjkxMzk1NDEyfA&ixlib=rb-4.0.3&q=80&w=400");
        background-position: center center;
        background-size: cover;
      }
      .bg7 {
        background-image: url("https://images.unsplash.com/photo-1690834787964-3fbac1bcd362?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDJ8MzE3MDk5fHx8fHwyfHwxNjkxMzk1NDEyfA&ixlib=rb-4.0.3&q=80&w=400");
        background-position: center center;
        background-size: cover;
      }
      .bg8 {
        background-image: url("https://images.unsplash.com/photo-1690795246465-b8096932db23?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDN8MzE3MDk5fHx8fHwyfHwxNjkxMzk1NDEyfA&ixlib=rb-4.0.3&q=80&w=400");
        background-position: center center;
        background-size: cover;
      }
      .bg9 {
        background-image: url("https://images.unsplash.com/photo-1690205073984-174dd9e03176?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDR8MzE3MDk5fHx8fHwyfHwxNjkxMzk1NDEyfA&ixlib=rb-4.0.3&q=80&w=400");
        background-position: center center;
        background-size: cover;
      }
      .bg10 {
        background-image: url("https://images.unsplash.com/photo-1691250993170-4c9919194aa4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjkxNTY0Mzg2fA&ixlib=rb-4.0.3&q=80&w=400");
        background-position: center center;
        background-size: cover;
      }
      .bg11 {
        background-image: url("https://images.unsplash.com/photo-1690881286894-0ab8b1f8de9a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDZ8MzE3MDk5fHx8fHwyfHwxNjkxNTY0Mzg2fA&ixlib=rb-4.0.3&q=80&w=400");
        background-position: center center;
        background-size: cover;
      }
    }
  }
}
