$headerBg: #1d2125;
$txtColor: #9eacba;
$btnColor: #579dff;

.Header {
  width: 100vw;
  padding: 15px 10px;
  height: 50px;
  background-color: $headerBg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #32383d;
  z-index: 100;

  @media (max-width: 1250px) {
    padding: 15px 5px;
  }

  @media (max-width: 1012px) {
    padding: 10px 5px;
  }
  .burgerAndSearch {
    display: none;
  }

  @media (max-width: 833px) {
    justify-content: space-between;
    padding: 10px;
  }

  .logoResp {
    display: none;
  }
  .tasks {
    display: none;
  }

  .headerLeft {
    display: flex;
    align-items: center;

    @media (max-width: 833px) {
      display: none;
    }
    .gridMenu {
      font-size: 22px;
      color: $txtColor;
      margin-right: 10px;
      padding: 9px;
      border-radius: 3px;
      @media (max-width: 1250px) {
        font-size: 18px;
      }
      @media (max-width: 1012px) {
        font-size: 14px;
        margin: 0;
      }
    }
    .gridMenu:hover {
      background-color: #3a4149;
    }
    .logo {
      padding: 0 5px;
      border-radius: 3px;
      svg {
        width: 70px;
        @media (max-width: 1250px) {
          width: 50px;
        }
        @media (max-width: 1012px) {
          width: 35px;
        }
        path {
          fill: $txtColor;
        }
      }
    }
    .logo:hover {
      background-color: #3a4149;
    }
    .controls {
      display: flex;
      align-items: center;
      ul {
        text-decoration: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          text-decoration: none;
          list-style: none;
          margin: 0 10px;
          color: $txtColor;
          cursor: pointer;
          padding: 5px 10px;
          border-radius: 3px;
          display: flex;
          align-items: center;

          @media (max-width: 1250px) {
            margin: 0 5px;
            padding: 5px;
          }
          @media (max-width: 1012px) {
            margin: 0 3px;
            padding: 3px;
            font-size: 12px;
          }
          span {
            i {
              font-size: 25px;
              @media (max-width: 1250px) {
                font-size: 18px;
              }
              @media (max-width: 1012px) {
                font-size: 14px;
              }
            }
          }
        }
        li:hover {
          background: #3a4149;
        }
      }
      button {
        margin: 0 10px;
        color: $headerBg;
        background: $btnColor;
        outline: none;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        @media (max-width: 1250px) {
          margin: 0 5px;
          padding: 7px 10px;
        }
        @media (max-width: 1012px) {
          margin: 0 3px;
          padding: 5px 7px;
          font-size: 12px;
        }
      }
      button:hover {
        background: #79acf4;
      }
    }
  }
  .headerRight {
    display: flex;
    align-items: center;

    @media (max-width: 833px) {
      display: none;
    }
    .controls2 {
      display: flex;
      align-items: center;

      .search {
        position: relative;
        input {
          outline: none;
          background: #22272b;
          border: 1px solid #3a4149;
          border-radius: 5px;
          padding: 10px;
          padding-left: 35px;
          width: 250px;
          color: $txtColor;
          font-size: 16px;

          @media (max-width: 1250px) {
            padding: 10px;
            width: 180px;
            padding-left: 35px;
            font-size: 13px;
          }

          @media (max-width: 1012px) {
            padding: 5px;
            padding-left: 25px;
            font-size: 10px;
          }
        }

        input:focus {
          width: 350px;
          border-color: $txtColor;

          @media (max-width: 1250px) {
            width: 180px;
          }
        }
      }
      .search::before {
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        display: inline-block;
        font-weight: 900;
        color: #727272;
        position: absolute;
        left: 10px;
        top: 13px;

        @media (max-width: 1250px) {
          font-family: "Font Awesome 5 Free";
          content: "\f002";
          display: inline-block;
          font-size: 13px;
          font-weight: 900;
          color: #727272;
          position: absolute;
          left: 10px;
          top: 13px;
        }

        @media (max-width: 1012px) {
          font-size: 10px;
          font-weight: 900;
          left: 7px;
          top: 7px;
        }
      }

      i {
        color: $txtColor;
        margin: 0 10px;
        font-size: 18px;

        @media (max-width: 1012px) {
          margin: 0 5px;
          font-size: 14px;
        }
      }
      i:nth-child(2) {
        transform: rotate(45deg);
        font-size: 20px;

        @media (max-width: 1012px) {
          font-size: 15px;
        }
      }
      i {
        border-radius: 50%;
        border: 10px solid $headerBg;
        cursor: pointer;

        @media (max-width: 1012px) {
          border: 3px solid $headerBg;
        }
      }
      i:hover {
        border-color: #3a4149;
      }
      .userAva {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $btnColor;
        margin: 10px;
        color: white;
        font-weight: 500;
        border: 4px solid $headerBg;
        cursor: pointer;
        font-size: 12px;

        @media (max-width: 1012px) {
          width: 25px;
          height: 25px;
          margin: 5px;
          border: 4px solid $headerBg;
          font-size: 10px;
        }
      }
      .userAva:hover {
        border-color: #3a4149;
      }
    }
  }
  .profile {
    position: relative;

    .profilePopup {
      width: 250px;
      position: absolute;
      right: 0;
      top: 100%;
      background: $headerBg;
      border-radius: 5px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      color: #abb7c3;
      border: 0.5px solid #3a444b;

      .profileData {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;

        .userAvatar {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          background: #579dff;
          border-radius: 50%;
          margin-right: 10px;
          color: #fff;
        }

        .userNameEmail {
          p:first-child {
            font-size: 18px;
            margin: 0;
          }

          p:last-child {
            font-size: 14px;
            margin: 0;
          }
        }
      }

      .popupBlocks {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        border-bottom: 0.5px solid #3a444b;
        padding: 3px 0;

        h6 {
          padding: 10px;
          margin: 0;
          font-size: 10px;
        }

        p {
          font-size: 16px;
          width: 100%;
          padding: 10px;
          margin: 0;
          cursor: pointer;
        }
        p:hover {
          background: #3a444b;
        }
      }

      button {
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
        background: #3a4149;
        color: $txtColor;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 833px) {
  .tasks {
    display: flex !important;
    align-items: center;
    .burger1 {
      color: $txtColor;
      border-radius: 3px;
      padding: 3px;
      position: relative;
      i {
      }
      .controlsResp {
        display: none;
        position: absolute;
        left: -9px;
        top: 37px;
        box-shadow: 0 0 10px $headerBg;
        background: $headerBg;
        padding: 0;
        border-radius: 5px;
        ul {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          list-style: none;
          padding: 0;
          li {
            width: 250px;
            padding: 10px 20px;
            margin: 2px 0;
          }
          li:hover {
            background: #3a4149;
          }
        }
        button {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: none;
          outline: none;
          background: #22272b;
          color: $txtColor;
          letter-spacing: 1.5px;
        }
        button:hover {
          background: #3a4149;
        }
      }
    }
    .burger1:hover {
      background: #3a4149;
    }
    .tasksAndCount {
      padding: 0 10px;
      h4 {
        font-size: 16px;
        margin: 0;
        color: $txtColor;
      }
      p {
        margin: 0;
        color: #9eacba;
        font-size: 10px;
      }
    }
  }
  .logoResp {
    display: block !important;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    svg {
      width: 70px;

      path {
        fill: $txtColor;
      }
    }
  }
  .userAva {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $btnColor;
    margin: 5px;
    color: white;
    font-weight: 500;
    border: 4px solid $headerBg;
    cursor: pointer;
    font-size: 10px;
  }
  .userAva:hover {
    border-color: #3a4149;
  }

  .logoResp:hover {
    background-color: #3a4149;
  }
  .burgerAndSearch {
    display: flex !important;
    align-items: center;
    color: $txtColor;
    .searchResp {
      position: relative;
      input {
        outline: none;
        background: transparent;
        border: none;
        border-radius: 5px;
        padding: 5px;
        padding-left: 0px;
        width: 25px;
        color: $txtColor;
        font-size: 12px;
        margin: 0 5px;
      }
      input:focus {
        padding-left: 30px;
        width: 150px;
        border-color: $txtColor;
        border-bottom: 0.2px solid $txtColor;
      }
    }

    .searchResp::before {
      font-family: "Font Awesome 5 Free";
      content: "\f002";
      display: inline-block;
      font-weight: 700;
      color: $txtColor;
      position: absolute;
      left: 15px;
      top: 4.5px;
    }
    .notifi {
      margin: 0 10px;
      padding: 3px;
      border-radius: 3px;
      i {
      }
    }
    .notifi:hover {
      background: #3a4149;
    }
    .burgerResp {
      padding: 3px;
      border-radius: 3px;
      position: relative;
      i {
      }
      .controlsResp2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        width: 250px;
        right: -9px;
        top: 37px;
        padding: 10px;
        box-shadow: 0 0 10px $headerBg;
        background: $headerBg;
        border-radius: 5px;
        font-size: 12px;
      }

      .littleHeadLeft {
        display: flex;
        align-items: center;

        .workspaceVisible {
          display: flex;
          align-items: center;
          font-size: 12px;
        }
      }
      .boardAndViews {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #22272b;
        color: $txtColor;
        letter-spacing: 1.5px;
      }
      button:hover {
        background: #3a4149;
      }
    }
  }
  .burgerResp:hover {
    background: #3a4149;
  }

  .profile {
    position: relative;

    .profilePopup {
      width: 250px;
      position: absolute;
      right: -29px !important;
      top: 100%;
      background: $headerBg;
      border-radius: 5px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      color: #abb7c3;
      border: 0.5px solid #3a444b;

      .profileData {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;

        .userAvatar {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          background: #579dff;
          border-radius: 50%;
          margin-right: 10px;
          color: #fff;
        }

        .userNameEmail {
          p:first-child {
            font-size: 18px;
            margin: 0;
          }

          p:last-child {
            font-size: 14px;
            margin: 0;
          }
        }
      }

      .popupBlocks {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        border-bottom: 0.5px solid #3a444b;
        padding: 3px 0;

        h6 {
          padding: 10px;
          margin: 0;
          font-size: 10px;
        }

        p {
          font-size: 16px;
          width: 100%;
          padding: 10px;
          margin: 0;
          cursor: pointer;
        }
        p:hover {
          background: #3a444b;
        }
      }

      button {
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
        background: #3a4149;
        color: $txtColor;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 500px) {
  .logoResp {
    display: none !important;
  }
}
