.LittleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  height: 55px;
  backdrop-filter: blur(25px);
  padding: 10px;
  box-shadow: 5px 0 0.5px rgb(195, 195, 195);

  @media (max-width: 1310px) {
    height: 45px;
    padding: 5px;
  }

  @media (max-width: 927px) {
    display: none;
  }
  .littleHeadLeft {
    display: flex;
    align-items: center;
    color: #ffffff;
    #star {
      padding: 10px;
      border-radius: 3px;

      @media (max-width: 1310px) {
        padding: 7px;
        font-size: 8px;
      }
    }
    #star:hover {
      color: gold;
      background: #7e88946e;

      cursor: pointer;
    }
    h4 {
      margin: 0 10px;
      font-size: 21px;
      @media (max-width: 1310px) {
        margin: 0 3px;
        font-size: 15px;
      }
    }
    .workspaceVisible {
      display: flex;
      align-items: center;
      margin: 0 10px;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;

      @media (max-width: 1310px) {
        margin: 0 3px;
        padding: 3px;
        font-size: 10px;
        p {
          margin: 0 5px;
        }
        i {
          margin: 0 5px;
        }
      }
      p {
        margin: 0 5px;
      }
      i {
        margin: 0 5px;
      }
    }
    .workspaceVisible:hover {
      background: #7e88946e;
    }
    .boardAndViews {
      display: flex;
      align-items: center;
      margin: 0 10px;

      @media (max-width: 1310px) {
        font-size: 8px !important;
        margin: 0 3px;
        button {
          width: 50px;
          height: 25px;
          padding-left: 5px;
          padding-right: 5px;
          margin: 0 2px;
          font-size: 10px;
        }
        button:nth-child(2) {
          font-size: 20px;
          padding: 0 3px;
          width: unset;
        }
      }
      button {
        border: none;
        outline: none;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 2px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 100;
        background: #dee1e5;
        cursor: pointer;
      }
      button:hover {
        background: #f8fbff;
      }
      button:nth-child(2) {
        font-size: 25px;
        padding: 0 5px;
      }
    }
  }
  .littleHeadRight {
    display: flex;
    align-items: center;
    .rightControls {
      display: flex;
      align-items: center;
      margin: 0 10px;

      @media (max-width: 1310px) {
        margin: 0 5px;
      }
      .sections {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;

        @media (max-width: 1310px) {
          font-size: 10px;
          padding: 3px;
        }
        i {
          margin: 0 5px;
        }
        p {
          margin: 0 5px;
        }
      }
      .sections:hover {
        background: #7e88946e;
      }
    }
    .usersAndShare {
      display: flex;
      align-items: center;
      margin: 0 0 0 10px;
      border-left: 0.5px solid gray;
      padding: 0 20px;

      @media (max-width: 1310px) {
        margin: 0 0 0 3px;
        border-left: 0.5px solid gray;
        padding: 0 10px;
      }
      #rightBurger {
        font-size: 20px;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;

        @media (max-width: 1310px) {
          font-size: 12px;
          padding: 3px;
        }
      }
      #rightBurger:hover {
        background: #7e88946e;
      }
      .usersList {
        display: flex;
        div {
          margin-left: -0.25rem;
          box-shadow: 0 0 10px 0.1rem #3a4149;
          align-items: center;
          display: flex;
          justify-content: center;
          background: #182a4d;
          font-size: 12px;
          padding: 5px;
          /* Rounded border */
          border-radius: 50%;

          @media (max-width: 1310px) {
            font-size: 8px;
            padding: 3px;
            border-radius: 50%;
          }
        }
      }
      button {
        border: none;
        outline: none;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 30px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 100;
        background: #dee1e5;
        cursor: pointer;

        @media (max-width: 1310px) {
          height: 25px;
          width: 60px;
          padding: 0;
          margin: 0 10px;
          border-radius: 4px;
          font-size: 10px;
        }
      }
      button:hover {
        background: #f8fbff;
      }
    }
  }
}
