.UserAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0052cc;
  font-weight: 900;
  font-size: 14px;
  margin-right: 3px;
}
