.TaskList {
  width: 280px;
  min-width: 280px;
  border-radius: 10px;
  background: #101204;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;

  .listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    color: #b6c2cf;

    h5 {
      margin: 0;
    }
  }

  .listBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;

    .taskCard {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 10px;
      background: #22272b;
      border-radius: 10px;
      color: #b5c2cf;
      cursor: pointer;
      font-size: 14px;

      .cardTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
          margin: 0;
          padding: 5px 0;
        }

        .cardTopEdit {
          padding: 5px;
          border-radius: 3px;
          display: none;
          cursor: pointer;
        }
      }

      .cardBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;

        .cardBottomControls {
          display: flex;
          align-items: center;

          div {
            margin-left: 10px;
          }
        }

        .userAva {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #579dff;
          color: white;
          font-weight: 500;
          border: 4px solid #22272b;
          cursor: pointer;
          font-size: 12px;
        }
        .userAva:hover {
          border-color: #3a4149;
        }
      }
    }
    .taskCard:hover {
      background: #292e33;
    }

    .taskCard:hover .cardTopEdit {
      display: block;
    }
    .cardTopEdit:hover {
      background: #343a3f;
    }
  }

  .addCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    color: #b6c2cf;

    div:first-child {
      width: 230px;
      border-radius: 5px;
      text-align: left;
      padding: 5px;
    }

    div:last-child {
      width: 30px;
      border-radius: 5px;
      text-align: left;
      padding: 5px;
    }

    div:hover {
      background: #5c5f61;
      cursor: pointer;
    }
  }
}
